body{
  margin: 0;
}

.notebook,.input,.markdown{
  height: 1000px;
} 

#notebook{
  display: flex;
}

.notebook{
  width: 20%;
  background-color: aqua;
}

.input{
  width: 40%;
  background-color: bisque;
}

.inputText{
  width: 98%;
  height: 100%;
  background-color: bisque;
}

.markdown{
  width: 40%;
  background-color: blanchedalmond;
}

button{
  height: 30px;
}

.note{
  /* border: 1px solid rebeccapurple; */
  background: seagreen;
  margin-bottom: 1px;
  height: 30px;
}

.note.selected{
  background: skyblue;
}
